*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding: 0;
}
body{
    min-height: 100vh;
    overflow:auto ;
}


input {
width: 100px;
height: 30px;
margin-top: 9px;
border: 2px solid;
border-radius: 4px;
border-color: black;
background-color:white;
text-align:justify;
 }   

.grid-container{
position: absolute;
justify-content: center;
align-items: center;
margin-top: 10px;
width: 100vw;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
column-gap: 10px;
row-gap: 10px;
}

img{
 width: 300px;
 height: 300px;
 object-fit: cover;
 object-position: center;
 border-radius: 7px;
 border: solid white;

}