
*{
    padding: 0%}

header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    }
.header {
        display: grid;
        grid-template-columns:repeat(4,20%, 20%, 45%,15%);
        background-color: beige;
        font-size: 100%;   
}

.logo-header{ width: 50px; padding: auto;}
.menu-header{ text-decoration: none; color: black; padding: 3px;}
.input-header{width: 200px;
    height: 30px;
    margin-top: 9px;
    border: 2px solid;
    border-radius: 4px;
    border-color: black;
    background-color:white;
padding: 4px;}
.notificacion-header{ width: 50px; padding-right: 3px ;}  

main {
    max-width: 500px;
    padding: 3%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 1rem;
    
  }
  
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .minimal1 {
    grid-row: 1 / 3;
  }
  
  .minimal2 {
    grid-column: 3 / 5;
  }
  
  .minimal3 {
    grid-row: 2 / 4;
  }
  
  .minimal4 {
    grid-column: 3 / 5;
  }

  .minimal5{
    grid-column: 4 / 5;
  }