*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display:flex;
    justify-content: space-between;
    height: 70px;
    background-color: gray;
    margin: 0;
}
#logo{
    display: flex;
    align-items: center;
    width: 50px;
    height: 60px;

   
    
}

body{
    min-height: 100vh;
    overflow:auto ;
    font-family: sans-serif;
}
 

input {
width: 200px;
height: 30px;
margin-top: 9px;
border: 2px solid;
border-radius: 4px;
border-color: black;
background-color:white;
text-align:justify;
 }   

.grid-container{
position: absolute;
justify-content: center;
align-items: center;
margin-top: 10px;
width: 100vw;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
column-gap: 19px;
row-gap: 19px;
}

img {
 width: 300px;
 height: 200px;
 object-fit: cover;
 object-position: center;
 border-radius: 7px;
 border: solid gray;

}